body {
  background-color: #efefef;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.yx-square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.yx-square-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #b6d7ce;
  margin-right: 20px;
  position: relative;
  top: -3px;
}

// 将 ul、ol、dl 元素“正常化”
.yx-list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}
