.yx-section-1 {
  padding-top: 70px;
  padding-bottom: 140px;

  &, & a {
    color: #336799;
  }
}

.yx-left-menu {
  text-align: right;

  dl {
    margin-right: 50px;
  }

  dt {
    padding-bottom: 8px;
    margin: 15px 0;
    border-bottom: 1px solid #c0ccda;

    &:first-child {
      margin-top: 0;
    }
  }
  dd {
    line-height: 30px;
  }
}

.yx-right {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 30px 60px;

  h3 {
    margin: 0;
    border-right: 1px solid #99b1cb;
    height: 40px;
  }

  h4 {
    margin-top: 70px;
    padding-top: 35px;
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      content: "";
      height: 2px;
      background-color: #98b2cb;
    }
  }

  img {
    margin-top: 35px;
  }
}
