$common-padding: 65px;
h3 {
  padding: $common-padding 0;
  margin: 0;
  color: #32659a;
}

.yx-index-1 {
  background-color: #fff;
  padding-bottom: 130px;

  // 九宫格
  @mixin map($square-width,$one-line-count) {
    .yx-square-map {
      width: $square-width * $one-line-count;
    }

    .yx-square-item {
      width: $square-width;
      height: $square-width;
    }
  }

  @media (min-width: 992px) {
    @include map(308px, 3);
  }

  @media (max-width: 991px) {
    @include map(145px, 2);
  }

  img {
    width: 100%;
  }

  //.row {
  //  margin: 0;
  //}
  //
  //.col-sm-4 {
  //  padding: 0;
  //}

  .yx-square-item {
    float: left;
  }

  %p {
    padding: 25px 40px;
    @media (max-width: 991px) {
      padding: 5px 10px;
    }
    position: relative;
    &, & h3, & a {
      color: #fff;
    }
    & h3 {
      padding: 45px 0;
      @media (max-width: 991px) {
        padding: 10px 0;
        font-size: 20px;
      }
    }
    & a {
      position: absolute;
      bottom: 25px;
      left: 40px;
      padding: 10px 20px;
      border: 1px solid #fff;
      display: inline-block;

      @media (max-width: 991px) {
        bottom: 5px;
        left: 10px;
        padding: 3px 6px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .yx-in-1 {
    @extend %p;
    background-color: #89a45f;
  }
  .yx-in-2 {
    @extend %p;
    background-color: #336799;
  }
  .yx-in-3 {
    @extend %p;
    background-color: #ab952f;
  }
  .yx-in-4 {
    @extend %p;
    background-color: #aa9f99;
  }
  .yx-in-5 {
    @extend %p;
    background-color: #3398cc;
  }
}

.yx-index-2 {
  $p-padding: 30px;
  background-color: #00adef;
  color: #fff;
  padding-bottom: $common-padding - $p-padding;
  h3 {
    color: #fff;
  }
  p {
    line-height: 1.6;
    margin-bottom: $p-padding;
  }
}

.yx-index-3 {
  padding-bottom: 120px;

  .img-responsive {
    width: 100%;
  }
  .yx-news-content {
    border: 1px solid #d3d3d3;
    padding: 15px;
  }
  p {
    color: #666;
  }
}

.yx-news-container {
  margin-bottom: 40px;
}
