$common-padding: 65px;
h3 {
  padding: $common-padding 0;
  margin: 0;
  color: #32659a;
}

.yx-index-1 {
  background-color: #fff;
  padding-bottom: 130px;

  .container {
    @media (min-width: 1200px) {
      width: 3 * 308px;
    }
  }

  .row {
    margin: 0;
  }

  .col-sm-4 {
    padding: 0;
  }

  $square-width: 308px;

  .yx-square-map {
    width: $square-width * 3;
  }

  .yx-square-item {
    width: $square-width;
    height: $square-width;
    float: left;
  }

  %p {
    padding: 25px 40px;
    position: relative;
    &, & h3, & a {
      color: #fff;
    }
    & h3 {
      padding: 45px 0;
    }
    & a {
      position: absolute;
      bottom: 25px;
      left: 40px;
      padding: 10px 20px;
      border: 1px solid #fff;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .yx-in-1 {
    @extend %p;
    background-color: #89a45f;
  }
  .yx-in-2 {
    @extend %p;
    background-color: #336799;
  }
  .yx-in-3 {
    @extend %p;
    background-color: #ab952f;
  }
  .yx-in-4 {
    @extend %p;
    background-color: #aa9f99;
  }
  .yx-in-5 {
    @extend %p;
    background-color: #3398cc;
  }
}

.yx-index-2 {
  $p-padding: 30px;
  background-color: #00adef;
  color: #fff;
  padding-bottom: $common-padding - $p-padding;
  h3 {
    color: #fff;
  }
  p {
    line-height: 1.6;
    margin-bottom: $p-padding;
  }
}

.yx-index-3 {
  .img-responsive {
    width: 100%;
  }
  .yx-news-content {
    border: 1px solid #d3d3d3;
    padding: 15px;
  }
  p {
    color: #666;
  }
}
